.progress {
  width: 100.8px;
  height: 16.8px;
  -webkit-mask: linear-gradient(90deg, #474bff 70%, #0000 0) left/20% 100%;
  background: linear-gradient(#474bff 0 0) left/0% 100% no-repeat #dbdcef;
  animation: progress-422c3u 2s infinite steps(6);
}

@keyframes progress-422c3u {
  100% {
    background-size: 120% 100%;
  }
}
